/**
 * Title: Site CSS
 * Purpose: To provide site-wide custom styles
 */

/* Root Styles */

:root {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (max-width: 768px) {
    :root {
      font-size: 16px;
    }
}

body {
    background-color: #121212;
    color: #e0e0e0;
}

/* Product card section */
  
.product-card {
    cursor: pointer; /* Changes the cursor to pointer */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px); /* Move the card up slightly on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}
  
.product-container {
    overflow: hidden; /* Ensures content doesn't overflow */
    position: relative;
}
  
.image-wrapper {
    width: 100%; /* Make it responsive */
    padding-top: 100%; /* This creates a square aspect ratio */
    position: relative; /* For positioning child elements */
    display: flex; /* Use flexbox for centering */
    align-items: center;
    justify-content: center; /* Center horizontally */
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: fill; /* Ensures the image covers the square */
    transition: transform 0.3s ease;
}
  
/* Dark overlay styling */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
    transition: background-color 0.3s ease; /* Smooth transition */
}
  
/* Darken the overlay on hover */

.product-container:hover .overlay {
    background-color: rgba(0, 0, 0, .75); /* Dark overlay on hover */
}
  
.product-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff; /* White text color */
    padding: 10px;
    text-align: center;
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease;
    height: 100%; /* Full height to center vertically */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-weight: bold;
    font-size: 30px;
}
  
.product-container:hover .product-name {
    opacity: 1; /* Show on hover */
}

.product-container:hover .product-image {
    transform: scale(1.05); /* Slightly enlarge on hover */
}
  
/* Plus icon */
  
.plus-icon {
    font-size: 5rem; /* Adjust the size of the + icon */
    color: lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff; /* White text color */
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease;
    height: 100%; /* Full height to center vertically */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.table-vertical-align td, .table-vertical-align th {
    vertical-align: middle;
}

/* Buttons */

.btn {
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.8rem 1.5rem;
}

.btn-submit, .btn-cancel {
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-submit:hover {
    background-color: #00b812;
}

.btn-cancel:hover {
    background-color: #ff0000;
}

.btn-like, .btn-unlike {
    background-color: #c5c5c5;
    filter: invert(100%);
    background-position: center;
    background-repeat: no-repeat;
}

.btn-like {
    background-image: url('../lib/bootstrap/icons/heart.svg');
}

.btn-unlike {
    background-image: url('../lib/bootstrap/icons/heart-fill.svg');
}

.btn-like:hover, .btn-unlike:hover {
    background-color: orange;
    background-image: url('../lib/bootstrap/icons/heart-half.svg');
}

/* Forms */

.form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    margin: 3rem auto;
}

.label {
    color: #b3b3b3;
}

.input {
    color: #e0e0e0;
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.select {
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;

}

.input:focus, .select:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.form-check-input {
    margin-right: 10px;
}

/* Flexbox for Length Inputs */

.length-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.length-group .input {
    width: 25%;
    text-align: center;
    margin-bottom: 0px;
}

.length-group span {
    color: #e0e0e0;
}

.check-boxes {
    margin-bottom: 20px;
}
